.Dictionary section {
  background: #f6f6f6;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 0;
  box-shadow: 0px 12px 12px rgb(0 0 0 / 10%);
  font-family: "Sora", sans-serif;
}

.Dictionary h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.Dictionary input {
  width: 100%;
  color: rgb(93, 93, 93);
  font-size: 14px;
  padding: 5px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Dictionary p {
  font-size: 12px;
  margin-top: 11px;
}
